@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	height: 95vh;
	background-color: white;
	font-family: 'Poppins', 'Open Sans', Roboto;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 20px;
  margin: 0px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus, #btn:focus, #month-select:focus, .menu-item:focus {
  outline: none;
}

.btn:active, .menu-item:active, #btn:active {
  transform: scale(0.98);
}

.container {
  	width: 100%;
  	height: 100%;
}

.header {
	width: 300px;
	height: 100vh;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	padding: 20px 20px;

	border-right: 2px solid #f3f3f3;
}

.logo {
	width: 100%;
	height: 150px;
	align-self: center;

	border: 1px solid black;
}

.menu {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-item {
	width: auto;
	display: flex;
	align-items: center;
	padding: 15px 15px;
	border-radius: 8px;
	margin: 2px 0px;
	font-size: 0.9em;
}

.menu-item:hover {
	font-weight: bold;
	background-color: #f2f6f7;
}

#active {
	font-weight: bold;
	background-color: #f2f6f7;
}

.menu-item img {
	width: 18px;
	height: 18px;
}

.menu-item label {
	margin-left: 10px;
}

.content {
	height: 100vh;
	margin: 0px 0px 0px 300px;
	padding: 0px 0px 50px 0px;
	overflow: auto;
}

.board {
	width: 100%;
	height: 100%;
	padding: 40px;
}

.page-title {
	width: auto;
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	margin-bottom: 20px;
}

.table {
	display: flex;
	border-radius: 10px 10px 0px 0px;
	padding-left: 2%;
	border-bottom: 2px solid rgb(223, 223, 223);
}

.table ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 10px 0px;
}

.table li {
	font-size: 12px;
	color: rgb(0, 0, 0);
}

#table-compte-cle {
	width: 25%;
	margin-right: 10px;
}

#table-compte-cle li {
	width: 50%;
	padding-left: 2%;
}

#table-other {
	width: 85%;
}

#table-other li {
	width: 33%;
	padding-left: 2%;
}

.table-item {
	display: flex;
	padding-left: 2%;
	border-bottom: 1px solid rgb(223, 223, 223);
}

.table-item ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 10px 0px;
}

.table-item li {
	font-size: 0.9em;
	color: #000000;
	font-weight: bold;
}

#table-item-compte-cle {
	width: 25%;
	margin-right: 10px;
}

#table-item-compte-cle li {
	width: 50%;
	padding-left: 2%;
}

#table-item-other {
	width: 85%;
}

#table-item-other li {
	width: 33%;
	padding-left: 2%;
}

#month-select {
  	background: #fff;
  	color: black;
  	border: none;
  	padding: 4px 20px 4px 5px;
  	margin: 0px 10px;
  	border-radius: 5px;
  	cursor: pointer;
  	text-decoration: none;
  	border: 1px solid black; 
  	font-size: 15px;
  	font-family: inherit;
	font-weight: bold;
}

.scrollable-table {
	width: auto;
	height: 90%;
	overflow: auto;
}

#table-compte-nom {
	margin-right: 10px;
}

#compte-num {
	width: 80px;
	margin-right: 20px;
}

#nom {
	width: 200px;
}

#table-standard-details li {
	width: 150px;
}

#table-total li {
	width: 150px;
	margin: 0px 10px;
}

#table-item-compte-nom {
	margin-right: 10px;
}

#table-item-standard-details li {
	width: 150px;
}

#table-item-total li {
	width: 150px;
	margin: 0px 10px;
}

#month-table {
	width: fit-content;
}

.side-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#setting-budget {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-radius: 10px;
	background: #f2f6f7;
	margin-bottom: 40px;
	margin-top: 20px;
}

.partner-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(223, 223, 223);
	padding: 10px 20px;
}

#btn {
	cursor: pointer;
}

.btn-edit {
	width: 32px;
	height: 32px;
	padding: 5px;
	border: none;
	background: black;
	border-radius: 16px;
}

.btn-delete {
	width: 32px;
	height: 32px;
	padding: 5px;
	border: none;
	background: rgb(243, 67, 67);
	border-radius: 16px;
	margin-left: 5px;
}

.btn-img-default {
	width: 50px;
	align-items: center;
	padding: 5px;
	border: none;
	background: black;
	border-radius: 5px;
	cursor: pointer;
}

button img {
	width: 20px;
}

.form-add-agent {
	width: 400px;
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
	align-self: center;
	border-radius: 10px;
	margin-bottom: 20px;
	background: #f2f6f7;
}
  
.add-agent-title {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
	vertical-align: middle;
}
  
.form-control-add-agent {
	display: flex;
	flex-direction: column;
}
  
.form-control-add-agent label {
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 0.95em;
}
  
.form-control-add-agent input {
	height: 35px;
	margin: 2px 0px;
	padding: 3px 7px;
	font-size: 0.9em;
}
  
#last {
	margin-bottom: 20px;
}

#add-agent-button {
	width: 150px;
	background: rgb(65, 156, 13);
}

.btn-close {
	width: 28px;
	height: 28px;
	padding: 5px;
	border: none;
	background: rgb(243, 67, 67);
	border-radius: 16px;
	align-items: center;
}

.btn-close img {
	width: 18px;
	height: 18px;
	margin: 0px;
	padding: 0px;
}

.btn-result {
	width: auto;
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
}

.form-add-agent h5 {
	color: rgb(65, 156, 13);
	margin-top: 7px;
}

#error-msg {
	color: rgb(243, 67, 67);
	margin-top: 20px;
}